In [6]:
from sqlvis import vis
import sqlite3

conn = sqlite3.connect('../../data/shopping.db')

In [7]:
# Retrieve the schema from the db connection
schema = vis.schema_from_conn(conn)
schema

In [13]:
query = '''
SELECT s.sName, c.cName, SUM(p.quantity)
FROM customer AS c, purchase AS p, store AS s
WHERE c.cID = p.cID
AND s.city = c.city
GROUP BY c.cName, s.sName
HAVING s.sName IN (FROM store AS s2
                   SELECT s2.sName
                   WHERE s2.city = 'Eindhoven'
                   GROUP BY s2.sID
                  )
AND COUNT(p.pID) < 10
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [3]:
# ===========================================
#   THIS CRASHES AND I DO NOT YET KNOW WHY
# ===========================================

query = '''
SELECT c.cName
FROM customer AS c
WHERE (SELECT SUM(p.quantity)
       FROM purchase AS p
       WHERE p.cID = c.cID)
      = (SELECT MAX(total_quantity)
         FROM (SELECT SUM(p2.quantity) AS total_quantity
               FROM purchase AS p2
               GROUP BY p2.cID) AS subquery)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [19]:
query = '''
SELECT MAX(p.price) as highest_purchase, MIN(p.price)
GROUP BY c.cID
WHERE c.cID = p.cID
FROM customer AS c, purchase AS p
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [20]:
query = '''
SELECT GROUP BY store.street
FROM store, product
WHERE store.price = product.street
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [21]:
query = '''
SELECT c.cName, COUNT(*)
FROM customer AS c, purchase AS p
WHERE c.cID = p.cID
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [23]:
query = '''
SELECT SUM(p.price), p.date
FROM purchase AS p
WHERE p.price > 2
GROUP BY p.date
HAVING SUM(p.price) > 4
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)