## Interestingly, I had to adapt these queries somewhat because the DB schema at the end of the paper does not match the queries shown at times.
### For the queries that are specifically of interest to my work, ctrl-F and search for those with 'grouping' in their title.

In [ ]:
from sqlvis import vis
import sqlite3

conn = sqlite3.connect('../../data/movie_database.db')

In [ ]:
# Retrieve the shema from the db connection
schema = vis.schema_from_conn(conn)

In [ ]:
schema

**Introduction: semantic error #1 (p5)**

This one is more seriously adapted, there was no quick but sensible change within the employee table. Concept remains the same, however.

In [ ]:
query = '''
SELECT *
FROM store
WHERE city = 'Eindhoven' AND city = 'Tilburg';
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Introduction: valid query #1 (p5)**

In [ ]:
query = '''
SELECT *
FROM store
WHERE city = 'Eindhoven' OR city = 'Tilburg';
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Insufficient grouping #1 (p12)**

In [ ]:
query = '''
SELECT cust_id, MAX(fee)
FROM customer;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Insufficient grouping #2 (p12)**

In [ ]:
query = '''
SELECT cust_id, MIN(fee), MAX(fee)
FROM customer;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Illegal grouping #1 (p13)**

Note: do FD's require data analysis necessarily? Because if so, this may not be detectable for SQLVis.

In [ ]:
query = '''
SELECT cust_id, MIN(fee), MAX(fee)
FROM customer
GROUP BY dob;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Insufficient grouping #3 (p13)**

In [ ]:
query = '''
SELECT cust_id, dob, AVG(fee)
FROM customer
GROUP BY dob;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Inconsistent join #1 (p14)**

In [ ]:
query = '''
SELECT cust_id
FROM customer
WHERE cust_id IN (SELECT renno
                  FROM rental)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Inconsistent join #2 (p14)**

In [ ]:
query = '''
SELECT s1.stono, s1.street
FROM store s1, store s2
WHERE s1.city = s1.city
AND s2.stono = 100
AND s1.stono <>100;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Logical errors are excluded, as whether something is a logical error is unknown without the specific data demand. Because of this, no general approach for detecting these without additional input is possible.**

**The exercises they used in their study are also not included, as we most likely have plenty diverse valid queries already.**