In [ ]:
from sqlvis import vis
import sqlite3

conn = sqlite3.connect('../../../data/ExplainingCausesBehindSQLErrorsDB.db')

In [ ]:
# Retrieve the shema from the db connection
schema = vis.schema_from_conn(conn)

In [ ]:
schema

**Listing 1. A multi-table query with an explicit join condition**

In [ ]:
query = '''
SELECT c.name
FROM customer c, ordered o
WHERE c.customerid = o.customerid;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 2. ANSI SQL-92 join in a multi-table query**

In [ ]:
query = '''
SELECT c.name
FROM customer c
JOIN ordered o
ON (c.customerid = o.customerid);
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 3. A query with equal subqueries**

In [ ]:
query = '''
SELECT p.productid, p.description
FROM product p
WHERE NOT EXISTS
    (SELECT *
    FROM ordered o
    WHERE p.productid = o.productid)
AND EXISTS
    (SELECT *
    FROM supplies s
    WHERE p.productid = s.productid);
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 4. A query with nested subqueries**

In [ ]:
query = '''
SELECT p.productid, p.description
FROM product p
WHERE NOT EXISTS
    (SELECT *
    FROM ordered o
    WHERE p.productid = o.productid
    AND EXISTS
        (SELECT *
        FROM supplies s
        WHERE p.productid = s.productid)
    );
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 5. A typical, simple self-join**

In [ ]:
query = '''
SELECT c1.name
FROM customer c1
JOIN customer c2
ON (c1.address = c2.address)
WHERE c1.customerid <> 47
AND c2.customerid = 47;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 6. A self-join with an uncorrelated subquery formed by evaluating
an aggregate function against a column value**

In [ ]:
query = '''
SELECT productid, onhand
FROM product
WHERE description = ’used’
AND onhand =
    (SELECT MAX(onhand)
    FROM product
    WHERE description = ’used’);
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 7. An example of a query with multiple source tables**

In [ ]:
query = '''
SELECT o.productid, c.name, c.address
FROM ordered o
JOIN customer c
ON (o.customerid = c.customerid);
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 8. A query with an aggregate function and grouping**

In [ ]:
query = '''
SELECT productid, SUM(quantity)
FROM ordered
GROUP BY productid;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

**Listing 9. A query with aggregate functions, parameter distinct, multiple
source tables and grouping**

In [ ]:
query = '''
SELECT p.productid
       , SUM(o.quantity)
       , COUNT(DISTINCT o.customerid)
FROM product p, ordered o
WHERE p.productid = o.productid
GROUP BY p.productid;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)