## For all of these queries, the expected results can be found in O.R. Odynchuk's Master's Thesis "Identifying and Visualizing Scoping Syntax Errors in SQL".

In [ ]:
from sqlvis import vis
import sqlite3

conn = sqlite3.connect('../../data/shopping_with_inventory.db')

In [ ]:
# Retrieve the schema from the db connection
schema = vis.schema_from_conn(conn)
schema

**Problem 1**

In [ ]:
query = '''
SELECT p1.tID, p1.pID, p2.pID
FROM prchase as p1, purchase as p2
WHERE p1.tID = p2.tID and p1.pID != p2.ID
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 2**

In [ ]:
query = '''
SELECT c.cID, c.cName
FROM customer as c
WHERE city = `Eindhoven`
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 3**

In [ ]:
query = '''
SELECT c.cID , c.cName
FROM customer as c
WHERE customer.street = 'Onbekendeweg'
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 4**

In [ ]:
query = '''
SELECT c.cityID , sID , s.city
FROM customer as c
JOIN store as s on c.city = s.city
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 5**

In [ ]:
query = '''
SELECT distinct(s.sName)
FROM store as s
WHERE EXISTS (SELECT *
              FROM purchas as p
              WHERE p.sID = s.sID
              and p . quantity > 9)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 6**

In [ ]:
query = '''
SELECT c.cID , cPur.pID
FROM customer c, (SELECT * FROM purchase p WHERE p.cID = c.cID) cPur
WHERE c.city = 'Eindhoven'
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 7**

In [ ]:
query = '''
SELECT p.pID
FROM purchase as p , product as p
WHERE p.pID = p.pID and p.quantity = 1 and p.price >= 100
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 8**

In [ ]:
query = '''
WITH bprice as (SELECT i2.unit_price, i2.sID
                FROM inventory i2, product p2
                WHERE i2.pID = p2.pID
                and p2.pName = 'Bananas')
SELECT pName , i.sID
FROM product p , inventory i
WHERE p.pID = i.pID and bprice.sID = i.sID
and bprice.unit_price < i.unit_price
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 9**

In [ ]:
query = '''
SELECT cID, cName, street
FROM (SELECT *
      FROM customer
      WHERE customer.street <> 'Bredalaan') a
WHERE exists (SELECT *
              FROM purchase p
              WHERE p.cID = customer.cID)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 10**

In [ ]:
query = '''
SELECT s.city, s.name , count(s.sID) as number
FROM store s , purchase p
WHERE p.ID = s.ID
GROUP BY city, sName
HAVING avg(p.quantity) > 4
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 11**

In [ ]:
query = '''
SELECT c.cID, c.cName
FROM customr c
WHERE EXISTS (SELECT *
              FROM puchase as p
              WHERE p.cID = c.cID
              and p.price > 12)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 12**

In [ ]:
query = '''
WITH expensiveProducts as (SELECT p.pID, pName, sID, unit_price
                           FROM product p, inventory i
                           WHERE p.pID = i.pID and i.unit_price > 3.50)
SELECT distinct(s.sID), s.sName
FROM store s
WHERE store.city <> 'Eindhoven' and expensiveProducts.sID = s.sID
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 13**

In [ ]:
query = '''
WITH cheapProducts as (SELECT pID, pName, sID, unit_price
                       FROM product p, inventory i
                       WHERE p.pID = i.pID
                       and i.unit_price < 1.00)
SELECT pID, sID, pName, min(unit_price)
FROM cheapProducts c, store s
WHERE c.sID = s.sID
GROUP BY pID
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 14**

In [ ]:
query = '''
SELECT p . pID
FROM purchase p , product pr
WHERE p.pID = pr.pID and pr.pName <> `Banana` and p.price <> `100`
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 15**

In [ ]:
query = '''
SELECT c.ID, c.cName
FROM customer c
WHERE not exists (SELECT *
                  FROM product p
                  WHERE not exists (SELECT *
                                    FROM purchase pur
                                    WHERE pur.cID = c.ID
                                    and pur.pID = p.pID))
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()

**Problem 16**

In [ ]:
query = '''
SELECT pName, i.sID
FROM product p, inventory i, (SELECT i2.unit_price, i2.sID
                              FROM inventory i2
                              WHERE i2.pID = p.pID
                              and p.pName = "Bananas") as bprice
WHERE p.pID = i.pID
and bprice.sID = i.sID
and bprice.unit_price < i.unit_price
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
res.fetchall()