In [ ]:
from sqlvis import vis
import sqlite3

conn = sqlite3.connect('../../data/shopping.db')

In [ ]:
# Retrieve the schema from the db connection
schema = vis.schema_from_conn(conn)

In [ ]:
schema

## This notebook is mainly me testing every possible way to misplace aggregation to see if anything can still be parsed.

In [ ]:
query = '''
GROUP BY c.cName
SELECT c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
WHERE c.cID = SUM(p.cID)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT c.cName, MAX(p.price)
GROUP BY c.cName
FROM customer AS c, purchase AS p
WHERE c.cID = SUM(p.cID)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT GROUP BY c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
WHERE c.cID = SUM(p.cID)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
GROUP BY c.cName
WHERE c.cID = SUM(p.cID)
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
WHERE c.cID = p.cID
GROUP BY c.cName
WHERE c.cName LIKE '%a%';
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
WHERE c.cID IN (GROUP BY p2.cID
                SELECT p2.cID
                FROM purchase AS p2
                HAVING SUM(p2.price) > 20)
AND c.cID = p.cID
GROUP BY c.cName;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

In [ ]:
query = '''
SELECT c.cName, MAX(p.price)
FROM customer AS c, purchase AS p
WHERE c.cID IN (SELECT p2.cID
                GROUP BY p2.cID
                FROM purchase AS p2
                HAVING SUM(p2.price) > 20)
AND c.cID = p.cID
GROUP BY c.cName;
'''

# Generate the visualization.
vis.visualize(query, schema)

cur = conn.cursor()
res = cur.execute(query)
output = res.fetchall()
print('Query output:\n', output)

Needless to say, the conclusion is a resounding 'no'.